@font-face {
  font-family: "reproL";
  src: url("../static/fonts/ABCREPRO-LIGHTITALIC-TRIAL.OTF");
}

@font-face {
  font-family: "reproM";
  src: url("../static/fonts/ABCREPRO-MEDIUMITALIC-TRIAL.OTF");
}

@font-face {
  font-family: "reproR";
  src: url("../static/fonts/ABCREPRO-REGULARITALIC-TRIAL.OTF");
  font-style: normal !important;
}

@font-face {
  font-family: "socialL";
  src: url("../static/fontse/ABCSOCIAL-LIGHTITALIC-TRIAL.OTF");
}

@font-face {
  font-family: "social";
  src: url("../static/fontse/ABCSOCIAL-REGULAR-TRIAL.OTF");
}

@font-face {
  font-family: "microgramma";
  src: url("../static/fontse/ABCREPRO-MEDIUMITALIC-TRIAL.OTF");
}

@font-face {
  font-family: "favoritext";
  src: url("../static/fonts/ABCFavoritExtended-Regular-Trial.woff2");
}

@font-face {
  font-family: "favoritextb";
  src: url("../static/fonts/ABCFavoritExtended-Bold-Trial.woff2");
}

@font-face {
  font-family: "favoritextl";
  src: url("../static/fonts/ABCFavoritExtended-Light-Trial.woff2");
}

@font-face {
  font-family: "favoritexp";
  src: url("../static/fonts/ABCFavoritExpanded-Regular-Trial.woff2");
}

@font-face {
  font-family: "favorit";
  src: url("../static/fonts/ABCFavorit-Regular-Trial.woff2");
}

@font-face {
  font-family: "RegAdieu";
  src: url("https://cdn.jsdelivr.net/gh/raajvir/fonts/GTFADIEUTRIAL-REGULAR.OTF");
}

@font-face {
  font-family: "microgramma";
  src: url("https://cdn.jsdelivr.net/gh/raajvir/fonts/MICROGRAMMA%20D%20EXTENDED%20BOLD.OTF");
}

@font-face {
  font-family: "space-mono";
  src: url("https://cdn.jsdelivr.net/gh/raajvir/fonts/SPACEMONO-BOLD.TTF");
}

.prodContainer {
  opacity: 0.9;
}

#loader {
  border: 4.5px solid black;
  border-radius: 50%;
  border-top: 4.5px solid white;
  width: 43px;
  height: 43px;
  -webkit-animation: spin 0.9s linear infinite;
          animation: spin 0.9s linear infinite;
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.line.arrow-right:after {
  position: absolute;
  content: "";
  bottom: -10px;
  right: 0;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid black;
}

.line.arrow-left:after {
  position: absolute;
  content: "";
  top: -10px;
  left: 0;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid black;
}

.center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

ul.nav li a,
ul.nav li a:visited {
  color: unset !important;
}

ul.nav li a:hover,
ul.nav li a:active {
  color: unset !important;
}

#searchbar {
  width: calc(100vw - 5em);
  margin-left: 2em;
  background-color: black;
}

#searchbar .searcher {
  width: 100%;
}

ul.nav li.active a {
  color: unset !important;
}

.text-white {
  color: white !important;
}

.text-white:hover {
  color: lightslategray !important;
}

.navbar {
  mix-blend-mode: normal !important;
  /* filter: invert(0%); */
  padding: 0.6em 2em;
  z-index: 900;
  /* filter: blur(5px); */
}

.navbar .box {
  color: rgba(25, 25, 25, 0.651);
  background-color: white;
  mix-blend-mode: screen !important;
}

.navbar .box:hover {
  color: #f0f0f0 !important;
  background-color: rgba(0, 0, 0, 0) !important;
  -webkit-box-shadow: 0px 0px 0px 3px white inset;
          box-shadow: 0px 0px 0px 3px white inset;
}

.backdrop {
  width: 110vw;
  left: -5vw;
  top: -10%;
  height: 121%;
  -webkit-filter: blur(5px) brightness(0.5);
          filter: blur(5px) brightness(0.5);
  z-index: -900;
  background-color: #191919 !important;
  position: absolute;
}

.darkmode--activated .backdrop {
  background-color: rgba(240, 240, 240, 0.808) !important;
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .navbar {
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
  }
}

.nav-container {
  z-index: 990;
  isolation: isolate;
  mix-blend-mode: normal;
  position: fixed;
}

* {
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
}

.nav-link:hover {
  text-decoration: none !important;
}

/* .prodContainer::before {
    content: '';
    display: block;
    height: 175px;
    margin-top: -175px;
    visibility: hidden;
}
 */
.prodContainer {
  color: white;
  width: calc(100vw - 5em);
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin-left: 2em;
  text-align: left;
  padding: 1.5em;
  margin-top: 1em;
  margin-bottom: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #53c0ff;
}

.prodContainer:nth-child(2n + 2) {
  background-color: #3cffc4;
}

.prodContainer:nth-child(3n + 3) {
  background-color: #ffd745;
}

.prodContainer:nth-child(4n + 4) {
  background-color: #3aff64;
}

.prodContainer .prodImage {
  display: inline-block;
  min-width: 0 !important;
  max-width: 30%;
}

.prodContainer .prodImage img {
  display: inline-block;
  width: calc(100% - 1em) !important;
  min-width: 0 !important;
}

.prodContainer .left {
  max-width: 80%;
  min-width: 50%;
}

.prodContainer .right {
  max-width: 20%;
  margin-left: auto;
  height: 100%;
}

.prodContainer #heading {
  font-size: 1.5em;
  font-family: "favoritext";
}

.prodContainer .maplink {
  font-size: 1.3em;
  font-family: "reproR";
}

.prodContainer .maplink a {
  font-family: "reproM";
  text-decoration: underline;
}

.prodContainer .maplink a:hover {
  text-decoration: none;
}

.prodContainer .stock {
  background-color: white;
  color: black;
  font-family: "favorit";
  isolation: isolate;
  background-color: white;
  mix-blend-mode: exclusion;
  z-index: 99;
}

.prodContainer hr {
  display: none;
}

.prodContainer p {
  font-family: "reproR" !important;
  padding: 0.5em 0em 2.3em 0;
}

.prodContainer .get {
  font-family: "favoritextb" !important;
  height: 3.8em;
}

.prodContainer .get h5 {
  height: 1.5em;
}

.prodContainer .asdf:hover {
  text-decoration: none !important;
}

/* 
  .prodImg {
      float: left;
      padding: 0%;
      margin: 0%;
      width: 20vw;
  } */
a {
  bottom: 0;
  color: unset !important;
}

.hero h1 {
  font-family: "favoritextb";
  text-align: left;
  padding: 0.4em;
  padding-bottom: 0.2em !important;
  font-size: 4.6em;
}

.hero #img1 {
  vertical-align: text-top;
  position: absolute;
  width: 0.5em;
}

.hero #img2 {
  vertical-align: text-top;
  position: absolute;
  width: 0.7em;
}

.hero #img3 {
  position: absolute;
  width: 50%;
  top: 3.89em;
  left: 0em;
}

.hero h5 {
  font-family: "socialL";
  font-size: 1.8em;
  width: 80%;
  padding-left: 1em;
  color: black;
}

.hero h5 u {
  font-style: italic;
}

.hero h5 b {
  font-family: "social";
}

.hero h5 g {
  font-family: "favoritext";
}

.hero p {
  font-family: "social";
  font-weight: bold;
  font-size: 1.6em;
  width: 70%;
  padding-left: 1em;
  color: black;
}

.hero .box {
  font-size: 1.5em;
  font-family: "favoritextb";
  color: white !important;
  background-color: black !important;
  margin-left: 1em;
  display: block;
  padding: 0.5rem 1rem;
  z-index: 9;
}

.hero .box a:hover {
  text-decoration: none !important;
}

.hero .box:hover {
  color: black !important;
  background-color: rgba(255, 255, 255, 0) !important;
  -webkit-box-shadow: 0px 0px 0px 3px black inset;
          box-shadow: 0px 0px 0px 3px black inset;
  mix-blend-mode: normal !important;
  text-decoration: none !important;
}

.hero .darkmode--activated .box {
  background-color: white !important;
  color: black !important;
}

.hero .darkmode--activated .box:hover {
  background-color: rgba(255, 255, 255, 0) !important;
  -webkit-box-shadow: 0px 0px 0px 3px white inset;
          box-shadow: 0px 0px 0px 3px white inset;
}

.darkmode--activated .asset {
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
  mix-blend-mode: difference;
}

h2 {
  color: white;
  padding: 0.2em;
  font-size: 1.2em;
}

.get {
  background-color: white;
  mix-blend-mode: exclusion !important;
  width: 100%;
  padding: 0 1em;
  outline: none !important;
  border: none;
  color: black;
}

.get:hover {
  background-color: rgba(0, 0, 0, 0) !important;
  -webkit-box-shadow: inset 0px 0px 0px 3px white;
  box-shadow: inset 0px 0px 0px 3px white;
  color: white;
  mix-blend-mode: exclusion !important;
}

.contact:hover {
  background-color: silver;
  color: white !important;
}

.nav-list:hover {
  color: white;
}

.navbar {
  margin-bottom: 100em;
}

.navbar-brand {
  padding: 0 !important;
}

.logo {
  font-weight: normal;
  padding: 0 !important;
  font-size: 2.5em !important;
  vertical-align: text-top;
  font-family: favoritext !important;
  height: 1.25em;
}

/*   #sharebtn {
    color: white !important;
  } */
#zingbrand {
  font-family: "favorit";
  color: white;
}

#zingbrand zing {
  font-family: "microgramma";
  font-weight: bolder;
  color: #5125ff;
}

.darkmode-toggle {
  z-index: 999;
}

@media only screen and (max-width: 1900) {
  body {
    width: 100vw !important;
  }
}

@media (max-width: 1450) {
  .prodContainer {
    width: calc(100vw - 4em) !important;
  }
}

@media (max-width: 1000) {
  body {
    font-size: small !important;
  }
}

@media only screen and (max-width: 503) {
  .hero {
    font-size: 1px !important;
  }
  .hero h1 {
    font-size: 1em !important;
  }
  .prodContainer #heading {
    font-size: 1em !important;
  }
}

footer {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: 100% !important;
  margin-top: 1em;
  position: relative;
  bottom: 0;
  z-index: 900;
}

footer .content {
  -webkit-filter: blur(0px) !important;
          filter: blur(0px) !important;
  z-index: 2 !important;
  width: 100vw;
  padding: 2em 2.5em 2em 2.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .content hr {
  width: calc(100vw - 5em);
  left: 2em;
  color: white;
  border-top: 3px solid white;
}

footer .content .desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

footer .content .desc ext {
  font-family: "favoritext";
  font-weight: bolder;
}

footer .content .desc .u_left {
  font-size: 1.4em;
  color: white;
  width: 50%;
  font-family: "favorit";
}

footer .content .desc .u_left a {
  font-weight: bolder;
  color: #4b75ff !important;
  text-decoration: underline;
}

footer .content .desc .u_right {
  font-size: 1.3em;
  color: white;
  width: 50%;
  text-align: right;
  font-family: "reproR";
}

footer .content .desc .u_right liste {
  font-family: "favorit";
  font-size: 1.2em !important;
}

footer .content .desc .u_right zing {
  font-family: "microgramma";
}

footer .content .desc .u_right mono {
  font-family: "space-mono";
}

footer .content .desc .u_right bt {
  font-family: "RegAdieu";
}

footer .content .logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  bottom: 0 !important;
}

footer .content .logos .b_left {
  width: 40%;
}

footer .content .logos .b_right {
  text-align: right !important;
  -webkit-box-align: right;
      -ms-flex-align: right;
          align-items: right;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  right: 0;
  font-size: 1.5em;
  font-family: "favoritextb";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.2em 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 60%;
  margin-right: 1em;
  padding: 0.5em 0em;
}

footer .content .logos .b_right .box {
  padding: 0.3em 0.4em;
  background-color: white !important;
  display: block;
  margin-right: -0.2em;
  mix-blend-mode: screen !important;
}

footer .content .logos .b_right .box a:hover {
  text-decoration: none !important;
}

footer .content .logos .b_right .box:hover {
  color: white;
  background-color: rgba(255, 255, 255, 0) !important;
  -webkit-box-shadow: 0px 0px 0px 3px white inset;
          box-shadow: 0px 0px 0px 3px white inset;
  mix-blend-mode: normal !important;
  text-decoration: none !important;
}

footer .content .logos .b_right .darkmode--activated .box {
  background-color: white !important;
  color: #282828 !important;
}

footer .content .logos .b_right .darkmode--activated .box:hover {
  background-color: rgba(255, 255, 255, 0) !important;
  -webkit-box-shadow: 0px 0px 0px 3px white inset;
          box-shadow: 0px 0px 0px 3px white inset;
}

footer .content .logos .b_right .sharebox {
  padding: 0.3em 0.4em;
  color: white;
  margin-right: 1em;
  display: block;
}

footer .content .logos .b_right .sharebox a:hover {
  text-decoration: none !important;
}

footer .content .logos .b_right .sharebox:hover {
  text-decoration: underline !important;
  mix-blend-mode: normal !important;
  text-decoration: none !important;
}

footer .content .logos .b_right #searchicon {
  padding: 0.3em 0.6em;
}

footer .back {
  bottom: -10%;
  position: absolute;
  -webkit-filter: blur(5px) brightness(1);
          filter: blur(5px) brightness(1);
  background-color: #282828 !important;
  width: 110vw;
  left: -5vw;
  z-index: -900;
  height: 103%;
  bottom: 0%;
  -webkit-filter: blur(5px) brightness(0.5);
          filter: blur(5px) brightness(0.5);
  position: absolute;
}

.darkmode--activated .back {
  background-color: rgba(240, 240, 240, 0.808) !important;
}

body {
  height: 100% !important;
  width: 100vw !important;
  overflow-x: hidden;
  background-color: black;
}

html {
  height: -webkit-max-content !important;
  height: -moz-max-content !important;
  height: max-content !important;
}

/* @font-face {
    font-family: 'favoritext';
    src: url('fonts/ABCFavoritExtended-Regular-Trial.woff2');
}
@font-face {
    font-family: 'favoritextb';
    src: url('fonts/ABCFavoritExtended-Bold-Trial.woff2');
}
@font-face {
    font-family: 'favoritexp';
    src: url('fonts/ABCFavoritExpanded-Regular-Trial.woff2');
}
@font-face {
    font-family: 'favorit';
    src: url('fonts/ABCFavorit-Regular-Trial.woff2');
}

.prodContainer {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8)), url("gradbg.png");
    opacity: 0.9;
}

#loader {
    border: 4.5px solid black;
    border-radius: 50%;
    border-top: 4.5px solid white;
    width: 43px;
    height: 43px;
    animation: spin 0.9s linear infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.center {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

ul.nav li a, ul.nav li a:visited {
    color: unset !important;
}

ul.nav li a:hover, ul.nav li a:active {
    color: unset !important;
}

ul.nav li.active a {
    color: unset !important;
}

.text-white {
    color: white !important;
}

.text-white:hover {
    color: lightslategray !important;
}

.box:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0) !important;
    box-shadow:0px 0px 0px 3px rgb(255, 255, 255) inset;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.657);
    isolation: none !important; 
    font-family: 'favoritexp' !important;
    
}



 */
/*# sourceMappingURL=styles.css.map */