{% extends "layout.html" %}

{% block title %}
List your product
{% endblock %}

{% block main %}
<script type='text/javascript' src='https://code.jquery.com/jquery-1.11.0.js'></script>
<script type='text/javascript' src="https://rawgit.com/RobinHerbots/jquery.inputmask/3.x/dist/jquery.inputmask.bundle.js"></script>
    <form action="/add" method="post" style="padding: 2em; font-family: 'favorit';" enctype="multipart/form-data">
        <input type="text" id="p_name" name="p_name" placeholder="Oxygen Contrator 5L" style="font-size: 2em; font-family: 'favoritextb';"><br>
        <small>Available at:</small><br>
        <input type="text" name="location" id="location" placeholder="4558 Briarwood Road, Blue Eye, MO, Missouri, 6561" style="margin-bottom: 1em !important; width: 80%;"> <span style="color: red"
        >*</span><br>
        <small>Contact</small><br>
        <div class="form-group">
            <label for="name">Name:  <span style="color: red"
                >*</span></label><input name="seller_name" id="seller_name" type="text" placeholder="John Doe"><br>
            <label for="phone">Phone Number (+91):  <span style="color: red"
                >*</span></label><input name="sellerphone" id="seller_phone" type="text" class="form-control" data-inputmask="'alias': 'phonebe'"><br>
            <label for="email">Email Address <span style="color: red"
                >*</span></label><input id="seller_email" name="seller_email" type="email" placeholder="johndoe@google.com"><br><br>
            <label for="units">Units In stock <span style="color: red"
                >*</span></label><input id="units" name="units" type="number" placeholder="12">
        </div>
        <label for="file">Image required <span style="color: red"
            >*</span></label>
        <input type="file" id="img" name="img" accept="image/*" oninput="filesize(this);"><br><br>
        <small>Community code:</small><br>
        <input type="number" name="cc" id="cc" placeholder="6561" style="margin-bottom: 1em !important; width: 80%;" value="{{product[7]}}"><br>
        <button id="submit" type="submit">Confirm Listing</button>
    </form>
    <script>
        function filesize(elem){
          document.cookie = `filesize=${elem.files[0].size}`
        }
    </script>
    <script>
        // document.getElementById('seller_phone').addEventListener("keyup", function(){
        //     txt=this.value;
        //     if (txt.length==3 || txt.length==5){
        //         this.value=this.value+" ";
        //     }
        //     else if (txt.length >= 12) {

        //     }

            
        // });
    </script>
    <script>
        $(document).ready(function(){
            $(":input").inputmask();

            $("#seller_phone").inputmask({
                    mask: '999 99999 99999',
                    placeholder: '+91 989832 92834',
                    showMaskOnHover: false,
                    showMaskOnFocus: false,
                    onBeforePaste: function (pastedValue, opts) {
                    var processedValue = pastedValue;

                    //do something with it

                    return processedValue;
                }   
            });
        });
    </script>
    <style>
        input {
            outline: none;
            border: 3px solid rgb(121, 121, 121);
            margin: 0.3em 0;
            padding: 0.2em 0.5em !important;
        }
        small {
            font-size: 1.2em; font-family: favoritextb;
        }
        label {
            margin-right: 0.8em;
        }
    </style>
<script>
/*     // password validation, you can submit only if the pass is at least 8 characters and contains only alphanumeric characters
    document.querySelector('#submit').disabled = true;
    document.querySelector('#stock').onkeyup = function() {
        let stock = document.querySelector('#stock').value;

        if (stock.length > 0){
            document.querySelector('#submit').disabled = false;
        }
        else {
            document.querySelector('#submit').disabled = true;
        }
    } */
</script>
{% endblock %}