{% extends "layout.html" %}

{% block title %}
List of medical appliances
{% endblock %}

{% block main %}
<!-- <main style="margin-top: 5em;"> -->
<!--     <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        function hideDiv() {
            var x = document.getElementById("widget");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
    </script> -->
    <!-- <br> -->
    <div>
        <div class="hero">
            <img src="/static/new_MIS002_D01 1.png" alt="" srcset="" style="position: absolute; right: 0; width: 33%; top: 10em; z-index: -1;" class="asset">
            <h1 style="color: rgb(0, 0, 0)">Share <u>essential</u> <span style="color: #00EF35;">medicines<img id="img1" src="/static/Misc_02.png" style="z-index: -1; filter: blur(2px);"><img id="img1" src="/static/Misc_02.png"></span><Br> and <span style="color: #00FFB2;">medical appliances<img id="img2" src="/static/Misc_01.png" style="z-index: -1; filter: blur(2px);"><img id="img2" src="/static/Misc_01.png"></span> <span style="color: #00A3FF;"><br><img id="img3" src="/static/circle.png" style="height: 1.6em; opacity: 0.9;"><img id="img3" src="/static/circle.png" style="height: 1.6em; opacity: 0.5; position: absolute; margin-top: 0.03em;"> All in one place.<img style="filter: blur(0px); vertical-align: text-top;" src="/static/Misc_04.png"></span></h1>
            <br>
            <h5><g>GetYourMed</g> is a quick and easy <u>user-driven</u> platform for sharing <b>medical appliances, medicines and other medical supplies.</b></h5>    
            <img src="/static/image_25-removebg-preview.png" alt="" srcset="" style="position: absolute; top: 26em; width: 5%; z-index: -5;" class="asset">
            <br>
            
            <p>Click here to share your product and make a difference to those who need it.</p>
            <div class="box" style=" width: max-content; height: max-content; background-color: white;"><a class="" href="/add" style="color: white;">List Your Product</a></div>
            <p>Or, you can literally just scroll down to access the expansive list of medical supplies ↓</p>
            <hr style="border-top: 3px dashed rgb(0, 0, 0); width: calc(100vw - 5em); margin-left: 2em;">
        </div>

        {% for product in products %}
        <div class="prodContainer" id="Product{{ product[0] }}">
            <div class="image">
                <img src="/{{ product[8] }}" alt="" srcset="" style="height: 100% !important;">
            </div>
            <div class="left">
                <b id="heading" style="mix-blend-mode: exclusion;">Available at:</b> <p style="mix-blend-mode: exclusion;" class="maplink" id="hoverer">{{ product[6] }}. <a href="https://www.google.com/maps/search/{{ product[6] }}" id="hoverer">Visit now.</a></p>
                    <!-- <iframe src="https://www.google.com" style="border:0px #FFFFFF none;" name="test" scrolling="yes" frameborder="0" marginheight="0px" marginwidth="0px" height="1080px" width="1920px" style="overflow: hidden !important;"></iframe> -->
<!--                             <style>
                        iframe {
                            width: 80vw;
                            height: 80vh;
                            left: 10vw;
                            position: absolute;
                            z-index: 999;
                            display: none;
                        }

                        #hoverer:hover ~ iframe {
                            display: block;
                        }
/*                         #hoverer:hover ~ #iframe {
                            display:visible !important;
                        }
                        #iframe {
                            transition:.2s ease-in-out opacity, .2s ease-in-out transform;
                            opacity:1;
                            display: none;
                            position:absolute !important;
                            z-index: 999;
                            box-shadow:0 1px 5px rgba(0,0,0,.5);
                            width:230px;
                            padding-right: 30px;
                            height:216px;
                            width: 384px;
                            border:4px solid #fff;
                            overflow-x:hidden;
                            overflow-y:auto;
                            transform-origin:center bottom;
                            transform: translateX(-50%) translateY(10px) scale(.9);
                        }
                            
/*                         iframe .iframe-preview {
                            transform:scale(.2);
                            transform-origin:0 0;
                        } */ */
                    </style> -->
                    <script type = "text/javascript">
                        function getConfirmation() {
                            var retVal = confirm("We hope the product helps you gain a better health! But do keep in mind that GetYourMed does not endorse nor is it affliated to any of the listed products or its suppliers, and therefore will not be responsible for any damage caused by this communication that ensues. \n\nSo, proceed with caution at your own risk, and Good Luck! 🤞");
                            if( retVal == true ) {
                                window.open('tel:{{ product[4] }}')
                                return true;
                            } else {
                                return false;
                            }
                        }
                    </script> 
<!--                      <script>
                        document.getElementById('getbtn').onclick = function(){
                            swal("Good job!", "You clicked the button!", "success");
                        };
                        const swalWithBootstrapButtons = Swal.mixin({
                            customClass: {
                                confirmButton: 'btn btn-success',
                                cancelButton: 'btn btn-danger'
                            },
                            buttonsStyling: false
                        })

                        swalWithBootstrapButtons.fire({
                            title: '⚠ Disclaimer',
                            text: "The GetYourMed organization does not endorse nor is it affliated to any of the listed products or its suppliers, and therefore will not be responsible for any damage caused by this communication that ensues. \nBut we hope the product helps you gain a better health! Good Luck!",
                            icon: 'warning',
                            showCancelButton: true,
                            confirmButtonText: 'Proceed',
                            cancelButtonText: "I'll think over it again",
                            reverseButtons: true
                            }).then((result) => {
                            if (result.isConfirmed) {
                                swalWithBootstrapButtons.fire(
                                'Success',
                                "You have successfully been redirected to the seller's contact page",
                                'success'
                                )
                            } else if (
                                /* Read more about handling dismissals below */
                                result.dismiss === Swal.DismissReason.cancel
                            ) {
                                swalWithBootstrapButtons.fire(
                                'Cancelled',
                                'An unforseeable error has occured. Our team is working on it right now. 🤞',
                                'error'
                                )
                            }
                        })
                    </script>  -->   
                
                    <div class="stock" style="top: 0; display: flex;background-color: rgb(255, 255, 255); width: max-content; padding: 0.3em; padding-right: 1em !important; height: 5em; font-family: 'favorit' !important;">
                    <span><big style="position: relative; font-size: 4.5em;  height: 4em; bottom:0.2em !important;">{{ product[3] }}</big></span>
                    <div class="23" style="margin-left: 0.4em !important;display: flex; flex-direction: column; height: 3em; font-family: 'favoritext';">
                        <h6 style="display: block; margin-bottom: 0 !important; font-size: 1.8em;">units in stock</h6>
                        <small style="font-size: 1.2em; font-family: 'favoritextb'; margin-top: 0.2em;">Last checked @ {{ product[7] }}</small>
                    </div>
                </div>
                <h1 class="prodtitle" style="margin-top: 1em; margin-bottom: 0 !important; mix-blend-mode: exclusion; font-family: 'favoritextb';">{{ product[1] }}</h1>
            </div>
            <div class="right" style="height: 100% !important;">
                <button class="get" id="getbtn" onclick="getConfirmation();"><h5 style="padding: 0.2em 0; margin: auto;  font-size: 2.2em; ">Get Now</p></button>
                <p style="text-align: center; padding: 0.5em 0em 2.3em 0 !important; mix-blend-mode: exclusion; color: rgb(255, 255, 255);"><i>Listed by <b>{{ product[2] }}</b></i></p>
                <p style="width: max-content; margin:auto !important; display: block; text-align: center; mix-blend-mode: exclusion; color: rgb(255, 255, 255); margin-bottom: 0.5em !important;">Have the latest information?<br><a href="/edit/{{ product[0] }}" class="asdf" style="text-decoration: underline; color: rgb(231, 205, 255) !important;">Make an edit</a></p>
                <!-- <li class="nav-item text-white" style="margin: 0 0.5em;"><a id="sharebtn" class="nav-link a2a_dd" href="https://www.addtoany.com/share">Share</a></li> -->
                <div class="contact a2a_dd" onlclick="window.open('tel:{{ product[4] }}')" style="margin-top: 3em; margin: auto !important; padding: 0.2em 0.5em; border: 3px solid rgb(255, 255, 255); mix-blend-mode: exclusion; height: max-content; width: auto; text-align: center !important;"><h6 class="contactp" href="https://www.addtoany.com/share" data-a2a-url="http://127.0.0.1:5000/#Product{{ product[0] }}" style="margin: 0 0em !important; color: rgb(255, 255, 255); mix-blend-mode: exclusion !important; display: block; font-family: 'favoritextb'; font-size: 1.8em;">Share Product</h6></div>
            </div>

        </div>
        {% endfor %}
    </div>

    <script>
        function hideDiv1() {
            var y = document.getElementById("widget1");
            if (y.style.display === "none") {
                y.style.display = "block";
            } else {
                y.style.display = "none";
            }
        }
    </script>
    </div>
{% endblock %}
<!-- </main> -->